@model IEnumerable<EntityLayer.Concrete.Dorm>



<!-- Cities-Card -->
<div class="container  mt-5 " style="margin-bottom:250px;">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="heading mt-5 mb-5">
                <div class="card card_head_1">
                    <div class="card-body">
                        <h1 class="text-center ">@item.DormName</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-4 pb-lg-4 mt-5  " >
                <div class="card card_head_2">
                    <div class="card-body card_head_2 p-4">
                        <h6 class="head_title_1_2 d-inline-block ">@item.Description</h6>
                        <p>Yatak Sayısı @item.Bed</p>
                        <p>Wifi Durumu @item.Wifi</p>
                        <p>Öğün Sayısı @item.Meal</p>
                        <p>@item.Type Öğrenci Yurdu</p>
                        <p>@item.Adress</p>
                        <p>@item.Website</p>
                        

                    </div>
                </div>
            </div>
        }
    </div>
    </div>

        <!-- Cities-Card-End -->

