@model EntityLayer.Concrete.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("Hakkımızda ID")
    @Html.TextBoxFor(x => x.AboutID, new { @class = "form-control" })
    <br />
    @Html.Label("Hakkımızda Başlık")
    @Html.TextBoxFor(x => x.AboutTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Hakkımızda İçerik")
    @Html.TextBoxFor(x => x.AboutContent, new { @class = "form-control" })
    <br />
   


    <button class="btn btn-rounded btn-success mt-3"> Kaydet</button>
</form>

